<app-cabecalho></app-cabecalho>

<main>
  <app-medicamento-home></app-medicamento-home>
  <!-- <app-medicamento-inserir></app-medicamento-inserir> -->
  <!-- <app-medicamento-consulta></app-medicamento-consulta> -->
  <!-- <app-medicamento-delete></app-medicamento-delete> -->
  <!-- <app-medicamento-atualizar></app-medicamento-atualizar> -->
</main>


<!--Pessoal, entrega da segunda é um 'esqueleto' do front com 'Angular'.

Fiz esses esboços e podemos ir personalizando com o tempo, já que agora ele só pediu um esqueleto.. -->
