<mat-card>

    <button mat-raised-button color="primary" routerLink="/inserir">Inserir medicamento</button>

    <button mat-raised-button color="primary" routerLink="/consultar">Consultar medicamento</button>

    <button mat-raised-button color="primary" routerLink="/atualizar">Corrigir medicamento</button>

    <button mat-raised-button color="primary" routerLink="/deletar">Deletar medicamento</button>

    <button mat-raised-button color="primary" routerLink="/subtrair">Subtrair medicamento</button>

</mat-card>
