<mat-card>
  <form (submit)="onDelete(medicamentoForm)" #medicamentoForm="ngForm">
    <mat-form-field>
      <input
        type="string"
        matInput
        placeholder="Digite ID do medicamento a ser deletado (Use a consulta de medicamentos caso não saiba o ID)"
        name="idMedicamentoDelete"
        ngModel
        required
        minlength="2"/>
      <mat-error>Digite um ID válido</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Deletar</button>
  </form>
</mat-card>
