<mat-card>
  <form (submit)="onAdicionarMedicamento(medicamentoForm)" #medicamentoForm="ngForm">

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Digite o nome do medicamento"
        name="nomeMedicamento"
        ngModel
        required
        minlength="2"
        />
      <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Digite o hospital cujo qual o medicamento está disponível"
        name="hospital"
        ngModel
        required />
      <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Digite a quantidade disponível do medicamento"
        name="quantidadeDisponivel"
        ngModel
        required />
      <mat-error>Digite um valor válido</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Inserir Estoque</button>

  </form>
</mat-card>
